<section id="home">
  <div class="container mt-5 px-3 py-5">
    <div class="row justify-content-between mb-3">
      <div class="col-4">
        <h1>Daftar Buku</h1>
      </div>
      <div class="col-4">
        <form action="/home" method="POST" class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            autocomplete="off"
            name="keyword"
            placeholder="Cari nama buku"
            aria-label="Search"
          />
          <button type="submit" class="btn btn-primary">Cari</button>
        </form>
      </div>
    </div>
    <div id="books">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">ID Buku</th>
            <th scope="col">Kategori</th>
            <th scope="col">Nama Buku</th>
            <th scope="col">Harga</th>
            <th scope="col">Stok</th>
            <th scope="col">Penerbit</th>
          </tr>
        </thead>
        <tbody>
          <% data.books.map((book, index) => { %>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><%= book.code %></td>
            <td><%= book.category %></td>
            <td><%= book.title %></td>
            <td><%= new Intl.NumberFormat("id-ID").format(book.price); %></td>
            <td><%= book.stock %></td>
            <td><%= book.publisherName %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</section>
