<section id="admin-add-book">
  <div class="container mt-5 px-3 py-5">
    <div class="text-center mb-3">
      <h1>Edit Data Buku</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <form action="/admin/buku/<%= data.book.code %>?_method=PUT" method="POST">
          <div class="mb-3">
            <label for="code" class="form-label">ID/Kode Buku</label>
            <input type="text" class="form-control" id="code" name="code" required value="<%= data.book.code %>" />
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Kategori</label>
            <select class="form-select" id="category" name="category" required>
              <option selected>-- Pilih --</option>
              <option value="Keilmuan"<%= data.book.category === 'Keilmuan' ? "selected" : '' %>>Keilmuan</option>
              <option value="Bisnis"<%= data.book.category === 'Bisnis' ? "selected" : '' %>>Bisnis</option>
              <option value="Novel"<%= data.book.category === 'Novel' ? "selected" : '' %>>Novel</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Nama Buku</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              autocomplete="off"
              required
              value="<%= data.book.title %>"
            />
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Harga</label>
            <input type="number" class="form-control" id="price" name="price" required value="<%= new Intl.NumberFormat("id-ID").format(data.book.price) %>" />
          </div>
          <div class="mb-3">
            <label for="stock" class="form-label">Stok</label>
            <input type="number" class="form-control" id="stock" name="stock" required value="<%= data.book.stock %>" />
          </div>
          <div class="mb-5">
            <label for="publisher" class="form-label">Penerbit</label>
            <select class="form-select" id="publisher" name="publisher" required>
              <% data.publishers.map((publisher) => { %> <% if(publisher.name === data.book.publisherName) {%>
              <option value="<%= publisher.code; %>" selected><%= publisher.name; %></option>
              <% } else { %>
              <option value="<%= publisher.code; %>"><%= publisher.name; %></option>
              <% } %> <% }) %>
            </select>
          </div>
          <button type="submit" name="submit" class="btn btn-success">Simpan</button>
          <a class="btn btn-outline-secondary" href="/admin/buku">Kembali</a>
        </form>
      </div>
    </div>
  </div>
</section>
